
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.big-padding{
    padding:30px;
}

.text-center{
}

.blue-grey{
    background-color:#37474f;
}

.inline-block{
    display:inline-block;
}

.no-margin{
    margin: 0px;
}

.no-padding{
    padding: 0px;
}

.red-text{
    color:rgb(200,50,50);
}

.no-transform{
    text-transform:none;
}

.white-text{
    color:white;
}

.table{
    background-color:white;
}

.navbar{
    margin-bottom:0;
}

.white{
    background-color:white;
}

.floating{
    position:fixed;
    bottom:2em;
    right:2em;
    z-index:100;
}